.modal {
  position: absolute;
  z-index: 999;

  width: 800px;
  height: 500px;

  transform: scale(1.1);
}

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.8);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
